.header.header-3 .main-header-wraper .header-btn{
    background-color: #282973;
}

header.header-3 .top-header .header-cta ul li a i{
    color: #545454;
}

.banner-home__content .sub-title span {
    color: #545454;

}

.years-experience, .our-company__meida .horizental-bar {
    background : #282973
}